<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <h1>Shoppiing cart (3 items):</h1>
    <h2>Chilly's - cups 2 series : $41</h2>
    <img src="https://www.datocms-assets.com/11645/1636553857-s2cclibertysummerafront.png?q=80&auto=format&dpr=1&w=340&fit=crop" width="100">
    <h2>Lululemon Align™ High-Rise Pant : $98</h2>
    <img src="https://images.lululemon.com/is/image/lululemon/LW5CZ4S_049230_1" width="150">
    <h2>CAMPO CHROMEFREE LEATHER WHITE MATCHA : $130</h2>
    <img src="https://www.veja-store.com/media/catalog/product/cache/527447f8cffec2edb3591f96240a2d24/c/p/cp052485_1_1.jpg" width="150">
    <h1>Total: $269</h1>

</head>
<body>

</body>
</html>