<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <h1>Mel's shop</h1>
    <p>Some of the companies you can find in our shop! 
    Chilly's - Reusable Water Bottles from Chilly's, A Revolutionary Reusable Bottle That Keeps Drinks Ice Cold For Up To 24 Hours. </p>
    <h2>Our shop:</h2>
    <p>Chilly's - cups 2 series</p>
    <img src="https://www.datocms-assets.com/11645/1636553857-s2cclibertysummerafront.png?q=80&auto=format&dpr=1&w=340&fit=crop">
    <p>Chilly's - bottles 2 series</p>
    <img src="https://www.datocms-assets.com/11645/1631023417-s21000blushv3front0000.png?q=80&auto=format&dpr=1&w=206&fit=crop">
    <p>Chilly's - foood pots</p>
    <img src="https://www.datocms-assets.com/11645/1591808662-foodpot500pastelgreen.png?q=80&auto=format&dpr=1&w=206&fit=crop">



</head>
<body>

</body>
</html>