<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <h1>Tamari's shop</h1>
    <p>Some of the companies you can find in our shop! 
    Chilly's - Reusable Water Bottles from Chilly's, A Revolutionary Reusable Bottle That Keeps Drinks Ice Cold For Up To 24 Hours. </p>
    <div>
    <a href="{{ url_for('cart_page') }}">View cart</a>
    </div> 
    <h1>Our shop:</h1>

    <h2>bottles</h2>
    <div>
    <a href="{{ url_for('product_page') }}">Chilly's - cups 2 series</a>
    </div> 
    <img src="https://www.datocms-assets.com/11645/1636553857-s2cclibertysummerafront.png?q=80&auto=format&dpr=1&w=340&fit=crop" width="300">

    <h2>sport clothing</h2>
    <p>Lululemon Align™ High-Rise Pant</p>
    <img src="https://images.lululemon.com/is/image/lululemon/LW5CZ4S_049230_1" width="400">

    <h2>shoes</h2>
    <p>CAMPO CHROMEFREE LEATHER WHITE MATCHA</p>
    <img src="https://www.veja-store.com/media/catalog/product/cache/527447f8cffec2edb3591f96240a2d24/c/p/cp052485_1_1.jpg" width="400">


</head>
<body>

</body>
</html>