<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

    <h1>Summer Sprigs Blush</h1>
    <img src="https://www.datocms-assets.com/11645/1636553857-s2cclibertysummerafront.png?q=80&auto=format&dpr=1&w=206&fit=crop" width="300">
    <p>Designed for drinking
    This is not a redesign, it’s an evolution. The Series 2 range has been systematically engineered to deliver an unprecedented drinking experience. Still keeping your hot drinks hot for up to 4 hours.</p>
    <h2>Price: $41</h2>
    <p>**free shiping for orders over $66.00</p>
    <div>
    <a href="{{ url_for('home_page') }}">Back to home page</a>
    </div> 

    <div>
    <a href="{{ url_for('cart_page') }}">add to cart</a>
    </div> 

</head>
<body>

</body>
</html>